// COLORS

$bg-color: #f2f3f5;
$blue: #2940a6;
$blue-02: #4953b8;
$red: #e83f5b;
$white-bg-color: #ffffff;
$black: #000;
$light-gray: #dcdde0;

// FONT-COLOR

$font-body: #666666;
$font-title: #2e384d;
$font-white: #fff;

$font-light-blue: #b2b9ff;
